.virtual-table-header-container {
  display: flex;
}

.virtual-table-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-table-header-position-ref {
  background-color: inherit;
}

.virtual-table-header-table-bottom-ref {
  position: absolute;
  bottom: 0;
  height: 1;
  width: 100%;
  visibility: hidden;
}

.virtual-table-header-sticky-wrapper {
  overflow: hidden;
  background-color: inherit;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 4px;
}

.virtual-table-header-sticky-wrapper.sticky {
  position: fixed;
  z-index: 10;
}

.virtual-table-header-content {
  position: relative;
  min-width: max-content;
}

.virtual-table-header-content.sticky {
  position: relative;
}